[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
daphne = "*"
django-channels = "*"
channels = "*"
channels-redis = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.11"
